<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Преглед на диплома | GDIR</title>
	<!-- FontAwesome font file css -->
	<link rel="stylesheet" type="text/css" href="../dist/vendor/font-awesome/css/font-awesome.min.css">
	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="../dist/assets/css/global.style.css">
	<!-- Template custom css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="../dist/assets/css/custom.style.css">
</head>
<body>
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				<!-- Menu navigation start -->
				<div class="nav-container">
					<ul class="main-menu">
						<li class="txt-center">
							<a href="diplomas.tmp.html"><i class="fa fa-bookmark-o fa-3x"></i></a>
							<span class="txt-white menu-icon-name">Дипломи</span>
						</li>
						<li class="txt-center">
							<a href="./profile.tmp.html"><i class="fa fa-user fa-3x"></i></a>
							<span class="txt-white menu-icon-name">Профил</span>
						</li>
						<li class="txt-center">
							<a href="./help.tmp.html"><i class="fa fa-volume-control-phone fa-3x"></i></a>
							<span class="txt-white menu-icon-name">Помощ</span>
						</li>
						<li class="txt-center">
							<a href="./settings.tmp.html"><i class="fa fa-cog fa-3x"></i></a>
							<span class="txt-white menu-icon-name">Настройки</span>
						</li>
						<li class="txt-center">
							<a href="#" data-popup="noFooterPopup"><i class="fa fa-ellipsis-h fa-3x"></i></a>
							<span class="txt-white menu-icon-name">Още</span>
						</li>
					</ul>
				</div>
				<!-- Menu navigation end -->
			</nav>
		</div>
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header class="bg-blue"> <!-- extra class no-background -->
				<a class="go-back-link" href="./home.tmp.html"><i class="fa fa-arrow-left"></i></a>
				<h1 class="page-title txt-white">Преглед на диплома</h1>
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			<!-- Page content start -->
			<main>
				<section class="container">	
					<div class="form-divider"></div>

					<div class="form-row-group without-icons">
						<div class="form-row no-padding">
							<input type="text" name="" class="form-element txt-center" placeholder="Учебно заведение*" value="СУ Св. Климент Охридски" disabled>
						</div>
						<div class="form-row no-padding">
							<input type="text" name="" class="form-element txt-center" placeholder="Образователна степен" value="Магистър" disabled>
						</div>
						<div class="form-row no-padding">
							<input type="text" name="" class="form-element txt-center" placeholder="Специалност*" value="Информационни технологии" disabled>
						</div>
						<div class="form-row no-padding">
							<input type="text" name="" class="form-element txt-center" placeholder="Професия" value="Софтуерен инженер" disabled>
						</div>
						<div class="form-row no-padding">
							<input type="text" name="" class="form-element txt-center" placeholder="Регистрационен номер" value="BG33245678" disabled>
						</div>
						<div class="form-row no-padding">
							<input type="text" name="" class="form-element no-border txt-center" placeholder="GDIR номер" value="G1234" disabled>
						</div>
					</div>

					<div class="form-divider"></div>

					<div class="image-one-column text-center">
						<div class="image-item ">
							<img class="image" src="https://via.placeholder.com/200">
						</div>
					</div>

					<div class="form-divider"></div>

				</section>
			</main>
			<!-- Page content end -->
		</div>
	</div>

	<!--POPUP HTML CONTENT START -->
	<div class="popup-overlay" id="noFooterPopup"> <!-- if you dont want overlay add class .no-overlay -->
		<div class="popup-container">
			<div class="popup-header">
				<h3 class="popup-title txt-dark">Страници</h3>
				<span class="popup-close" data-dismiss="true"><i class="fa fa-times txt-dark"></i></span>
			</div>
			<div class="popup-content">
				<p><a href="auth/login.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">login.tmp.html</a></p>
				<p><a href="auth/registration.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">registration.tmp.html</a></p>
				<p><a href="auth/forgot-password.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">forgot-password.tmp.html</a></p>
				<hr>
				<p><a href="./terms.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">terms.tmp.html</a></p>
				<p><a href="./privacy.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">privacy.tmp.html</a></p>
			</div>
		</div>
	</div>
	<!--POPUP HTML CONTENT END -->

	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>
	<!-- Template global script file. requared all pages -->
	<script src="../dist/assets/js/global.script.js"></script>
</body>
</html>